:root {
  --border-color: #dddddd;
  --background-light: #fafafa;
  --text-color: #333333;
  --green: #41B883;
  --light-green: #9bffd2;
  --red: #ff6767;
  --light-red: #ffbbbb;
  --blue: #7eabff;
  --light-blue: #b9d2ff;
  --box-shadow-color: rgb(0, 0, 0, .1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  color: var(--text-color);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-light);
}

.card {
  border: 1px solid var(--border-color);
  border-radius: .25rem;
  box-shadow: 0 0 10px var(--box-shadow-color);
  padding: 1.75rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.card h3 {
  font-weight: 600;
  margin-bottom: .75rem;
  width: fit-content;
}

.card h3::after {
  content: '';
  display: block;
  margin-top: .25rem;
  height: .25rem;
  background-color: var(--green);
}

.card a {
  text-decoration: none;
  font-weight: 600;
  color: var(--green);
}

.contador-button {
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: var(--green);
  color: #ffffff;
  border-radius: .25rem;
  cursor: pointer;
  transition: box-shadow 200ms;
}

.contador-button:active {
  box-shadow: 0 0 0 4px #a3dfc4;
}

.contador-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.contador {
  background-color: #ffffff;
  border-radius: .25rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 0 1rem;
  transition: 300ms;
}

.instructions {
  border-top: 1px solid var(--border-color);
  margin: 1rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.esconder-botoes {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
}

.esconder-botoes:active {
  color: var(--green);
}